<h2>Translate</h2>
<h3>{{from-language}}</h3>
<textarea class={{from-language}} name="name" rows="3" cols="40"></textarea>
<button onClick={{action 'log'}} type="button" name="button">to {{to-language}}</button>

{{yield}}
