<h2>index</h2>

<div class="time-container">
  {{index-time timeZone="America/New_York" className="nyc"}}
  {{index-time timeZone="Europe/Paris" className ="paris"}}
</div>

<div class="translate-container">
  {{index-translate from-language="fr" to-language="en"}}
  {{index-translate from-language="en" to-language="fr"}}
</div>

<div class="weather-container">
  {{index-weather }}
</div>
{{outlet}}
