<h2>index</h2>

<div class="time-container">
  {{index-time zone="New York"}}
  {{index-time zone="Paris"}}
</div>

<div class="translate-container">
  {{index-translate from-language="fr" to-language="en"}}
  {{index-translate from-language="en" to-language="fr"}}
</div>
{{outlet}}
